@page
@{
    ViewBag.Title = "Oooops!";
}
<h2>Sorry something has gone wrong :(</h2>
<img src="~/img/error.jpg" />
<h3 style=" color :red"><strong>Please try again later. We're working on it!</strong></h3>
<br /><br />
